<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <title>数据面板</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            overflow: hidden;
        }

        iframe {
            width: 100%;
            height: 100vh;
            border: 0;
            background: #FFFFFF; /* 加载时的背景色 */
        }
    </style>
</head>
<body>
<iframe
        allowfullscreen
        loading="eager"
        src="http://10.10.10.104:50401/dv/8cf7d8d59195fa8ce9a9/?DG_SAFE_SESSION=1">
</iframe>
</body>
</html>